$backlight: white;
$textpink: #D70F64;
$textlight: white;

@mixin t-center {
  text-align: center;
}

@mixin sizepar {
  font-size: 1.2em;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html{
  font-family: 'Lato', sans-serif;
  height: 100%;
}

button{
  color: $textlight;
  background-color: $textpink;
  width: 210px;
  height: 48px;

  &:hover{
    background-color: darken($textpink, 10%);
  }
}

.subtitle{
  color: $textpink;
}
